<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand img", title: "Retour à la liste de fans", data: {toggle: "tooltip", placement: "bottom"}  do %>
    <%= image_tag "logo_benoit_president.png" %>
  <% end %>

      <%= link_to("http://www.benoithamon2017.fr/", :target => "blank") do %>
      <%= image_tag "logo-small.png", class:"hidden-xs", title: "Site officiel", data: {toggle: "tooltip", placement: "bottom"}  %>
      <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon hidden-xs hidden-sm">
    <h2 style="color: #dc257d;"><%= link_to "Twitter fan zone", root_path, title: "Retour à la liste de fans", data: {toggle: "tooltip", placement: "bottom"} %></h2>

    <!-- Search form -->

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->


      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
         <i class="fa fa-hashtag fa-2x avatar dropdown-toogle" aria-hidden="true" id="navbar-wagon-menu" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
           <!--  <li>
              <%#= link_to "#" do %>
                <i class="fa fa-user"></i> <%#= t(".profile", default: "Profile") %>
              <%# end %>
            </li> -->
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>



    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Actualiser"), get_the_data_fans_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <div class="navbar-wagon hidden-md hidden-lg">
    <h5 style="color: #dc257d;"><%= link_to "Twitter fan zone", root_path, title: "Retour à la liste de fans", data: {toggle: "tooltip", placement: "bottom"} %></h5>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/fans">Home</a></li>
        <li><%= link_to t(".top_call_to_action", default: "Actualiser"), get_the_data_fans_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

      </ul>
    </div>
  </div>
   <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/fans">Home</a></li>
        <li><a href="/users/sign_in">Sign in</a></li>

      </ul>
    </div>

    <% end %>
</div>

