<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h4 class="text-center"> <%= Post.all.count %> tweet sur Benoit Hamon</h4>
      <br>
      <br>
      <%= link_to "presse", fans_path(genre: "presse"), class: "btn btn-primary" %>
      <%= link_to "inconnu", fans_path(genre: "unknow"), class: "btn btn-primary" %>
      <%= link_to "chercher nouveaux fans", fan_get_the_data_path(@fans.first), class: "btn btn-primary" %>
      <%= link_to "sympathisant", fans_path(genre: "sympathisant"), class: "btn btn-primary" %>
      <% genre = params["genre"] %>
      <%= link_to "Follow them all", follow_them_all_fans_path(genre: genre), class: "btn btn-primary" %>
      <br>
      <% @fans.each do |fan| %>
        <%= link_to fan_path(fan) do %>
          <div class="ticket">
            <div class='ticket-status'>
              <% if fan.contact == "Pas encore contacté" %>
                <i class="fa fa-flag check-true-color"></i></li>
              <% else %>
                <i class="fa fa-flag color-red"></i></li>
              <% end %>
            </div>
            <%# post = fan.posts.first %>
            <%# picture = @client.user(post.tweeter_user_id.to_i) %>
            <%# @picture = picture.profile_image_url %>
            <%= image_tag fan.image_url, class: "activity-image" %>
            <div class='ticket-body'>
              <h4 class="primary-color-light"><%= fan.name %> </h4>
              <p> <strong> <%= fan.posts.count %> </strong> tweets</p>
            </div>
            <ul class="list-inline ticket-controls hidden-sm hidden-xs">
              <!-- <li class="color-gray"><%#= fan.created_at.strftime("%d.%m.%y") %></li> -->
              <li class="color-gray btn btn-warning"> <%= fan.category %> </li>
              <% if fan.contact == "Pas encore contacté" %>
                <li class="check-true-color"><i class="fa fa-check-circle"></i></li>
              <% else %>
                <li class="check-false-color"><i class="fa fa-check-circle"></i></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <br>
      <br>
      <div class="text-center">
        <%= link_to root_path, class: "btn btn-primary" do %>
          Home
        <% end %>
      </div>
    </div>
  </div>
</div>
