<div class="wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      <%= image_tag @fan.image_url, class:"avatar-large" %>
    <h4>Twitteur : <%=link_to @fan.name, "#{@fan.url_fan}", :target => "blank" %></h4>
        <div >
        <h5 class="text-align">Catégorie : <strong> <%= @fan.category %></strong> </h5>
        <h5> Statut de contact :<strong> <%= @fan.contact %></strong></h5>
        <h5>Nombre de tweets : <strong> <%= @fan.counter_of_tweet %></strong></h5>
        </div>
    </div>


    <div class="col-xs-3">
    <%= simple_form_for(@fan) do |f| %>
    <h5>Changer la catégorie :</h5>
    <%= f.input :category, collection: Fan::CATEGORIES,label: false %>
    <h5>Changer le statut de contact :</h5>
    <%= f.input :contact, collection: Fan::CONTACTS, label: false %>
    <%= f.submit class:"btn btn-warning" %>
      <% end %>
    </div>
  </div>



  <div class="row">

    <div class="col-xs-6 padded">
      <h4>Envoyer un tweet :</h4>
        <blockquote class="message padded" >
          <div style="margin-top: 10px;">

            <%= simple_form_for(Post.new) do |f| %>
            <%=  f.input :content, label: false, :input_html => {:style => "height: 60px;"}, prompt: "Merci de votre soutient" %>
            <%=  f.hidden_field :destinataire, :value => params["id"]%>
            <%=  f.submit class: "btn btn-warning" %>

            <% end %>

          </div>
        </blockquote>
    </div>

      <!-- <div class="col-xs-6 padded">
        <h4>Envoyer un message privé :</h4>
        <blockquote class="message padded">
          <div>
            @<%#= @fan.name  %>

          </div>
        </blockquote>
      </div>

   -->
  </div>
  <h4>Tweets :</h4>
    <div class="row">


    <% @fan.posts.each do |post| %>
      <div class="col-xs-12 col-sm-4">
      <%=  link_to "#{post.url_post}", :target => "blank" do %>
        <blockquote class="twitter-tweet padded">
          <p><%= post.content %></p>
        </blockquote>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</div>
