<div class="container">

    <h4>Twitteur : <%=link_to @fan.name, "#{@fan.url_fan}", :target => "blank" %></h4>
    <div class="text-align">
    <h5>Catégory : </h5> <strong> <%= @fan.category %></strong>
    <h5> Status de contact :</h5>
   <strong> <%= @fan.contact %></strong>
    </div>

  <% @fan.posts.each do |post| %>
  <%# post_twitter = @client.status(post.tweet_id) %>
  <%# @guy = @client.user(post.tweeter_user_id.to_i) %>
  <div class="row text-align">
    <div class="col-xs-6">

<%=  link_to "#{post.url_post}", :target => "blank" do %>
  <blockquote class="twitter-tweet padded">
    <p><%= post.content %></p>
  </blockquote>

    </div>
  </div>
<% end %>


<% end %>

  <div class="row">
    <div class="col-xs-3">
    <%= simple_form_for(@fan) do |f| %>
    <p>Changer la catégorie</p>
    <%= f.input :category, collection: Fan::CATEGORIES,label: false %>
    <p>Changer le status de contact</p>
    <%= f.input :contact, collection: Fan::CONTACTS, label: false %>
    <%= f.submit class:"btn btn-warning" %>
      <% end %>
    </div>
  </div>

  <h4>Envoyer un message privé :</h4>
  <blockquote class="twitter-tweet padded">
    <div>
      @<%= @fan.name  %>
    </div>

  </blockquote>

</div>
