<div class="wrapper grey padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      <%= image_tag @fan.image_url, class:"avatar-large" %>
    <h4>Twitteur : <strong><%=link_to @fan.name, "#{@fan.url_fan}", :target => "blank", title: "Voir sur Twitter", data: {toggle: "tooltip", placement: "bottom"} %></strong> </h4>
        <div >
        <h5 class="text-align">Catégorie : <strong> <%= link_to @fan.category, fans_path(genre: @fan.category), title: "Voir tous les #{@fan.category}s", data: {toggle: "tooltip", placement: "bottom"}  %></strong> </h5>
        <h5> Statut de contact :<strong> <%= @fan.contact%></strong></h5>
        <h5>Nombre de tweets : <strong> <%= @fan.counter_of_tweet %></strong></h5>
        </div>
    </div>


    <div class="col-xs-4">
    <%= simple_form_for(@fan) do |f| %>
    <h5>Changer la catégorie :</h5>
    <%= f.input :category, collection: Fan::CATEGORIES,label: false, include_blank: false %>
    <h5>Changer le statut de contact :</h5>
    <%= f.input :contact, collection: Fan::CONTACTS, label: false, include_blank: false %>
    <div class="text-right">
    <%= f.submit "Actualiser", class:"btn btn-warning" %>
    </div>
      <% end %>
    </div>
  </div>



  <div class="row">

    <div class="col-xs-6">
      <h4>Envoyer un tweet :</h4>
        <blockquote class="message padded" >
          <div style="margin-top: 10px;">

            <%= simple_form_for(Post.new) do |f| %>
            <%=  f.input :content, label: false, :input_html => {:style => "height: 100px;", :maxlength => 140}, placeholder: "Merci de votre soutient" %>
            <%=  f.hidden_field :destinataire, :value => params["id"]%>
            <div class="text-right">
            <%=  f.submit "Envoyer", class: "btn btn-warning"%>
            </div>
            <% end %>

          </div>
        </blockquote>
    </div>

      <!-- <div class="col-xs-6 padded">
        <h4>Envoyer un message privé :</h4>
        <blockquote class="message padded">
          <div>
            @<%#= @fan.name  %>

          </div>
        </blockquote>
      </div>

   -->
  </div>
  <h4>Tweets :</h4>
    <div class="row">


    <% @fan.posts.each do |post| %>
      <div class="col-xs-12 col-sm-4">
      <%=  link_to "#{post.url_post}", :target => "blank" do %>
        <blockquote class="twitter-tweet padded">
          <p><%= post.content %></p>
        </blockquote>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</div>
